<h1 class="page-title">Send Invitation</h1>
<% if @healthcheck %>
  <div class="card border-light">
    <div class="card-body">
      <%= form_tag(invites_path, :method => :post) do %>
        <% if @errors.any? %>
          <div class="alert alert-danger" role="alert">
            An error occurred:
            <% @errors.each do |message| %>
              <li> <%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= label_tag :Email %>
              <%= text_field_tag :email, "", class: "form-control" %>
            </div>
          </div>
          <div class="col">
          </div>
          <div class="col">
          </div>
        </div>

        <%= submit_tag "Send", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render 'invites/healthcheck_fail' %>
<% end %>