<%= stylesheet_link_tag 'login' %>
<div class="login-background">
  <div class="row h-100">
    <div class="col-7 d-none d-lg-block hero-image"></div>
    <div class="col">
      <div class="login-box mx-auto">
        <div class="logo-div">
          <%= image_tag("logo.png", :class => "logo") %>
        </div>
        <div>
          <label>Sign in using your credentials.</label>

          <fieldset class="TableLike small-12">
            <%= link_to user_google_oauth2_omniauth_authorize_path do%>
              <%= image_tag "google_signin.png", class: "google-signin" %>
            <% end %>
            <br>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <p><%= alert %></p>

              <% if resource.errors.any? %>
                <div class="alert alert-danger field" role="alert">
                  An error occurred:
                  <%resource.errors.full_messages.each do |message|%>
                    <li> <%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "someone@example.com" %>
              </div>
              <div class="Clear"></div>

              <div class="field">
                <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>

              <div class="actions">
                <%= f.submit "Sign in", :class => 'button' %>
              </div>
              <div class="Clear"></div>
            <% end %>
          </fieldset>

          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
        </div>
        <div class="footer">
          <label>FlagsApp 2018</label>
        </div>
      </div>
    </div>
  </div>
</div>
