<h1 class="page-title">Flag Manager</h1>
<div class="row">
  <div class="col-xl-12">
    <div class="card border-light">
      <div class="card-body">
          <div class="d-flex">
            <div class="mr-auto p-2">

            </div>
              <div class="p-2">
                <%= link_to '<i class="fa fa-bar-chart" aria-hidden="true"></i> View Reports'.html_safe, reports_path, :class => "btn btn-success" %>
                <% if current_user.is_admin == true %>
                <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Add Flag'.html_safe, new_flag_path, :class => "btn btn-primary" %>
                <% end %>
              </div>
          </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  #
                </th>
                <th>
                  Name
                </th>
                <th>
                  Type
                </th>
                <th>
                  Status
                </th>
                <th>
                  Organization
                </th>
                <th>
                  Last update
                </th>
                <th class="text-center">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <% @flags.each do |flag| %>
                <tr>
                  <td>
                    <strong><%= flag.id %></strong>
                  </td>
                  <td>
                    <%= flag.name %>
                  </td>
                  <td>
                    <% if flag.style_flag == 1 %>
                      Boolean
                    <% elsif flag.style_flag == 2 %>
                      Porcentage
                    <% elsif flag.style_flag == 3 %>
                       List
                    <% end %>
                  </td>
                  <td>
                    <% if flag.active == true %>
                      <span class="badge badge-success">
                        Active
                      </span>
                    <% else %>
                      <span class="badge badge-danger">
                        Not active
                      </span>
                    <% end %>
                  </td>
                  <td>
                    <%= flag.organization.name %>
                  </td>
                  <td>
                    <%= flag.last_update.strftime("%m/%d/%Y %r") %>
                  </td>
                  <td class="text-center">
                    <% if current_user.is_admin == true %>
                      <%= link_to '<i class="fa fa-clone" aria-hidden="true"></i>'.html_safe,
                                  change_status_flag_path(flag),
                                  method: :put,
                                  :class => "btn btn-warning mr-1 mt-1"
                      %>
                    <% end %>
                    <% if current_user.is_admin == true %>
                      <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe,
                                  flag_path(flag),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' },
                                  :class => "btn btn-danger mr-1 mt-1"
                      %>
                    <% end %>
                    <a href="#" class="btn btn-primary mr-1 mt-1" role="button">
                      <i class="fa fa fa-plus" aria-hidden="true"></i> Show more
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>