<h1 class="page-title">Post flag</h1>
<div class="card border-light">
  <div class="card-body">

    <%= form_for :flag, url: flags_path do |f| %>

      <div class="form-group">
        <%= f.label :Name%>
        <%= f.text_field :name, class:"form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :Value%>
        <%= f.select :active, options_for_select([['On', true], ['Off', false]]), {}, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :Type%>
        <%= f.select :style_function, options_for_select([['Boolean', 1], ['Percentage', 2], ['List', 3]]), {}, class:"form-control" %>
      </div>

      <div id="percentage" class="form-group" hidden=true>
        <%= f.label :Percentage%>
        <%= f.number_field :percentage, class:"form-control"%>
      </div>

      <div id="list" class="form-group" hidden=true>
        <tbody class="user">
        </tbody>
        <%= f.label :Type%>
      </div>

      <div class="d-flex flex-row-reverse bd-highlight">
        <%= f.submit "Save", class:"btn btn-primary"%>
      </div>

    <% end %>

    <script type="text/javascript">
        $('select').change(function change(e){
            if(e.target.value == 1){
                $('#percentage').attr('hidden', true);
                $('#list').attr('hidden',true);

            }
            if(e.target.value == 2){
                $('#percentage').attr('hidden', false);
                $('#list').attr('hidden',true);

            }
            if(e.target.value == 3){
                $('#percentage').attr('hidden', true);
                $('#list').attr('hidden',false);
            }
        });
    </script>

  </div>
</div>