<h1 class="page-title">Report</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Flag Manager', flags_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Report</li>
  </ol>
</nav>
<div class="row">
  <div class="col-xl-12">
    <div class="card border-light">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                Name
              </th>
              <th>
                Type
              </th>
              <th class="text-center">
                Total
              </th>
              <th class="text-center">
                Postive
              </th>
              <th class="text-center">
                Negative
              </th>
              <th class="text-center">
                Positive/Negative Rate
              </th>
              <th class="text-center">
                Average Response Time
              </th>
              <th class="text-center">
                Deleted
              </th>
            </tr>
            </thead>
            <tbody>
            <% @reports.each do |report| %>
              <tr>
                <td>
                  <strong><%= report.flag.id %></strong>
                </td>
                <td>
                  <%= report.flag.name %>
                </td>
                <td>
                  <% if report.flag.style_flag == 1 %>
                    Boolean
                  <% elsif report.flag.style_flag == 2 %>
                    Porcentage
                  <% elsif report.flag.style_flag == 3 %>
                    List
                  <% end %>
                </td>
                <td class="text-center">
                  <%= report.total_request %>
                </td>
                <td class="text-center">
                  <%= report.true_answer %>
                  <% if report.total_request == 0 %>
                    (0 %)
                  <% else %>
                    (<%= (report.true_answer * 100) / report.total_request %> %)
                  <% end %>
                </td>
                <td class="text-center">
                  <%= report.false_answer %>
                  <% if report.total_request == 0 %>
                    (0 %)
                  <% else %>
                    (<%= (report.false_answer * 100) / report.total_request %> %)
                  <% end %>
                </td>
                <td class="text-center">
                  <% if report.false_answer == 0 %>
                    0.0
                  <% else %>
                    <%= report.true_answer.to_f/report.false_answer.to_f %>
                  <% end %>
                </td>
                <td class="text-center">
                  <% if report.total_request == 0 %>
                    0.0
                  <% else %>
                    <%= report.total_time.to_f/report.total_request %>
                  <% end %>
                </td>
                <td class="text-center">
                  <% if report.flag.is_deleted == true %>
                      <span class="badge badge-danger">
                        Yes
                      </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>