<!DOCTYPE html>
<html>
  <head>
    <title>FlagsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render 'layouts/navbar' %>

      <% if current_user.is_admin == true %>
        <%= render 'layouts/sidebar_admin' %>
      <% else %>
        <%= render 'layouts/sidebar_user' %>
      <% end %>

      <main role="main" class="container">
        <%= render 'layouts/content' %>
      </main>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
